<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Getting page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <h2>Getting page</h2><br><br><br>
        <div>Hello, guest!</div>
        <br> {{message}}<br><br><br>

        <a href="/main">Main page</a>
        <br><br>
        
        <p>Get your greeting <a href="/greeting">here</a></p>
    </body>

</html>